# dependencies
node_modules/

# build outputs
.next/
dist/
out/

# environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
